<h1>FriendBook / <%= title %>
</h1>
<section id="posts-feed">
    <h4>Posts</h4>
    <% if(locals.user){ %>
        <!-- show the post submit form only to a signed-in user -->
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts) {%>
                 <li>
                    <p>
                      <%= post.content %> <br/>
                      <%= post.user.name %>
                    </p>
                    <!-- Comments Container for each post -->
                    <div class="post-comments">
                        <% if(locals.user) { %>
                        <!-- show the comment submit form only to a signed-in user -->
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Add Comments ...." required>
                            <input type="hidden" name="post" value="<%= post._id %>">
                            <!-- here we are passing post.id as a hidden value with the content of the comment -->
                            <input type="submit" value="Add Comment">
                        </form>
                        <% } %>
                    </div>
                 </li>
                <% } %>
            </ul>
        </div>
</section>